@import url(variables.css);

/* GENERAL CSS */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
@media (max-width: 400px) {
    html{
        font-size: 50%;
    }
}
body{
    font-size: 1.6rem;
}