.cont-add{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
#add{
    display: flex;
    align-items: center;
    height: 7rem;
    border: 3px solid var(--gray);
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
    margin-right: 1rem;
}
#add span{
    text-transform: uppercase;
    text-align: center;
}
@media (max-width: 725px) {
    #add span{
        display: none;
    }
}
#add:hover{
    animation:jello-horizontal .9s linear both;
}
/* FORM MOVIE */
.opacity-form{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;    
}
.form-task{
    height: 40rem;
    min-width: 31rem;
    width: 50rem;
    background-color: white;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1rem solid var(--verde);
    border-radius: 2rem;
}
#taskTitle, #taskDescription,#addTask, #cancelAdded{
    font-size: 2rem;
    border: 2px solid var(--gray);
    border-radius: 2rem;
    padding: 2rem;
}
#taskTitle{
    height: 6rem;
    width: 90%;
}
#taskDescription{
    height: 15rem;
    width: 90%;
}
.buttons-task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
#addTask, #cancelAdded{
    height: 5rem;
    width: 12rem;
    padding: 0;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
#addTask{
    background-color: var(--verde);
}
#cancelAdded{
    background-color: var(--rojo);
}